@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  line-height: inherit;
}

:root {
  --bg-light: #e7e7e7;
  --thm-hover: #0288d1;
  --black: #000000;
  --white: #ffffff;
  --bg-dark: #333333;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--thm-color);
  font-size: 15px;
  background: var(--bg-light);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

// ----------btn---------
.my_btn {
  padding: 12px 35px;
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 22px 0 22px;
  transition: all ease-in 0.2s;
  i {
    font-size: 12px;
  }
}

.my_btn:hover {
  border-radius: 22px 0 22px 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 800px;
  }
}

.spacer {
  margin-bottom: 50px;
}

// ---------------Header---------
.main_header {
  margin-top: 10px;
  .navbar {
    padding: 20px 0;
    .navbar-brand {
      display: flex;
      align-items: center;
      @media screen and (max-width: 1199px) {
        width: 130px;
      }
      @media screen and (max-width: 575px) {
        width: 120px;
        height: 75px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--black);
          margin-left: 20px;
          font-size: 18px;
          @media (max-width: 991px) {
            margin-left: 0px;
          }
        }
        &:first-child {
          .nav-link {
            margin: 0;
          }
        }
      }
    }
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

// -------------main banner------------

.about-section {
  .about-inner {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 250px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding: 30px;
    border-radius: 20px;
    @media (max-width: 767px) {
      text-align: center;
    }
    .about-details {
      @media (max-width: 767px) {
        margin-top: 20px;
      }
      .name {
        h4 {
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          color: var(--black);
          @media (max-width: 767px) {
            font-size: 32px;
            line-height: 32px;
          }
        }
        p {
          font-weight: 400;
          font-size: 22px;
          color: var(--black);
        }
      }
      .social-link {
        margin-bottom: 20px;
        .social-inner {
          display: flex;
        }
        .link {
          width: 100%;
          margin-bottom: 10px;
          a {
            color: var(--black);
            margin-left: 10px;
          }
        }
      }
    }
    .desc {
      font-size: 18px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}

.main-title {
  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      font-size: 36px;
    }
    &::after {
      content: "~*~*~*~*~*~*~*~*~*~*~*~*~*~*";
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.certificat-section {
  .certificat-inner {
    .data-box {
      display: flex;
      margin-bottom: 24px;
      justify-content: center;
      .data-inner {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 2px 250px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 20px;
        padding: 40px 20px 30px;
        text-align: center;
        @media (max-width: 767px) {
          padding: 40px 40px 30px;
        }
        .data-img {
          margin-bottom: 20px;
        }
        .name {
          font-weight: 700;
          font-size: 24px;
          color: var(--black);
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
        .date {
          margin: 10px 0;
          a {
            color: var(--thm-hover);
            font-size: 20px;
          }
          p {
            color: var(--black);
            font-size: 20px;
          }
        }
        .data-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            font-weight: 700;
            font-size: 24px;
            color: var(--thm-hover);
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.project {
  margin-bottom: 200px;
  @media (max-width: 767px) {
    margin-bottom: 150px;
  }
}

.shap-1 {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}
.shap-2 {
  position: absolute;
  bottom: -80%;
  right: 0;
  z-index: -1;
}
.shap-3 {
  position: absolute;
  bottom: -155%;
  left: 0;
  z-index: -1;
  @media (max-width: 767px) {
    bottom: -255%;
  }
}
.shap-4 {
  position: absolute;
  bottom: -145%;
  right: 0;
  z-index: -1;
  @media (max-width: 767px) {
    bottom: -445%;
  }
}
